<input type="text" [(ngModel)]="title">
{{ title }}

<!--<app-product [product]="product[0]"></app-product>-->

<div *ngIf="title === 'jose' ">
  Este es jose
</div>

<div *ngIf="title === 'juan' ">
  Este es juan
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'jose'">Este es jose</p>
  <p *ngSwitchCase="'juan'">Este es juan</p>
  <p *ngSwitchCase="'jorge'">Este es jorge</p>
  <p *ngSwitchDefault>No hay match</p>
</div>


<button (click)="addItem()" >Add</button>

<ul>
  <li *ngIf="items.length == 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i" >
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)" >Delete</button>
  </li>
</ul>

<div class="product-grid">
  <app-product
    *ngFor="let product of products" 
    (productClicked)="clickProduct($event)" 
    [product]="product">
  </app-product>

</div>